@use "normalize"as *;
@use "typescale"as *;
@use "keyframes"as *;

:root {
  --clr-bg-main: #ffd9ce;
  --clr-nav-bg: rgb(45, 42, 50);
  --clr-background-light: rgba(235, 81, 96, 0.3);
  --clr-background-lighter: rgba(235, 81, 96, 0.1);
  --clr-nav-dark: #1E1C21;
  --clr-blue: #9395d3;
  --clr-purple: #b836e7;
  --clr-highlight: #f6f740;
  --clr-pink-btn: rgb(235, 81, 96);
  --clr-pink-dark: #e73648;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--clr-blue);
}

::selection {
  color: white;
  background: var(--clr-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

// * {
//   outline: 1px solid #f00 !important;
// }

body {
  background-color: var(--clr-bg-main);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 30px 30px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;

  img {
    fill: white;
  }
}

.button:hover,
.button:focus {
  transform: scale(130%);
  transition: all 175ms ease;
  color: #fff;
}


.navbar__link:hover,
.navbar__link:focus {
  background: var(--clr-pink-btn);
  transition: all 175ms ease-out;
}

.navbar {
  background: #101010;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 99;

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 2;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

    #navbar__logo {
      position: relative;
      font-weight: 900;
      font-family: 'Montserrat';
      letter-spacing: -0.075rem;
      font-size: 2rem;
      padding: 0 1rem;
      text-decoration: none;
      align-self: center;
      background-color: black;
      background-image: linear-gradient(to top, #101010 0%, #404040 100%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 1rem;


      i {
        margin-right: 1rem;
        background-color: black;
        background-image: linear-gradient(to top, #101010 0%, #404040 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }

    #navbar__logo::before {
      content: '';
      position: absolute;
      width: calc(100% + 2rem);
      height: calc(100% + 0.25rem);
      padding: 0 1rem;
      z-index: -1;
      background: #fff;
      border-radius: 40px;
    }

    .fa-gem {
      margin-right: 0.5rem
    }

    .navbar__menu {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;

      .navbar__item {
        height: 80px;

        .navbar__link {
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 0 1rem;
          height: 100%;

          i {
            margin-right: 1rem;
            display: none;
            color: #fff;
          }
        }
      }

      .navbar__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 0 1rem;
        width: 100%;
      }

    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    position: sticky;
    z-index: 99;

    .navbar__container {
      align-items: center;
      display: flex;
      height: 80px;
      z-index: 99;
      width: 100vw;
      max-width: 1300px;
      padding: 0;

      #navbar__logo {
        padding-left: 25px;
        margin-left: 3rem;
      }

      .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 500ms ease;
        height: auto;
        z-index: 0;
        background: var(--clr-nav-dark);

        .navbar__btn {
          padding: 2rem 1rem;
          display: flex;
          justify-content: center;

          .button {
            width: 20%;
          }
        }

        .navbar__item {
          width: 100%;
          height: 100%;

          .navbar__link {
            display: flex;
            justify-content: center;
            padding: 2rem 0;
            width: 100%;

            i {
              display: inline-block;
            }
          }
        }
      }

      .navbar__menu.active {
        background: var(--clr-nav-dark);
        top: 100%;
        opacity: 1;
        transition: all 500ms ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
      }
    }
  }



  .navbar__toggle {
    cursor: pointer;
    padding: 4px;
    margin-top: 4px;

    .bar {
      width: 25px;
      border-radius: 4px;
      height: 3px;
      margin: 5px auto;
      transition: all 300ms ease-in-out;
      background: #fff;
      display: block;
      cursor: pointer;
    }
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    // transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
}


// HERO

.main {
  background-color: var(--clr-bg-main);
  overflow: hidden;

  .arrow-container {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 50px;

    a {
      color: #101010;
    }

    i {
      animation: bounce 1500ms infinite ease-out;
    }
  }

  .main__container {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    margin: 0 auto;
    height: calc(110vh - 80px);
    background-color: var(--clr-bg-main);
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;

    .main__img--container {
      flex-grow: 1;

      svg {
        position: relative;
        height: 100%;
        width: 42vw;
        max-width: 750px;
        min-width: 250px;
        float: right;
        top: -35px;
        z-index: 99;

        .hashtag {
          animation: wiggle .8s infinite;
          transform-origin: 0 0;
          fill: var(--clr-background-light);
        }

        .squiggle {
          animation: wiggle2 1s infinite;
          fill: var(--clr-background-light);
        }

        .ex {
          animation: wiggle3 1s infinite;
          fill: var(--clr-background-light);
        }

        .tilda1 {
          animation: wiggle4 1s infinite;
          fill: var(--clr-background-light);
        }

        .tilda2 {
          animation: wiggle5 1s infinite;
          fill: var(--clr-background-light);
        }

        .circle {
          animation: wiggle6 .9s infinite;
          transform-origin: 120px 600px;
          fill: var(--clr-background-light);
        }

        .pyramid {
          animation: wiggle6 .9s infinite;
          transform-origin: 720px 300px;
          fill: var(--clr-background-light);
        }
      }
    }
  }
}

.main__content {
  z-index: 3;
  flex-grow: 0;
}

.main__content h1 {
  font-size: 5rem;
  line-height: 1.4em;
  letter-spacing: -0.15rem;
  margin: 0;
  padding-right: 5px;
  background-color: var(--clr-nav-dark);
  background-image: linear-gradient(to top, var(--clr-pink-dark) 0%, var(--clr-pink-btn) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 3.5rem;
  line-height: 0.9em;
  background-color: var(--clr-nav-dark);
  background-image: linear-gradient(to top, var(--clr-purple) 0%, var(--clr-blue) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.meet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-background-lighter);
  width: 19em;
  padding: 1em;
  border-radius: 35px;
  margin-top: 4rem;

  i {
    position: relative;
    margin-right: 10px;
    color: var(--clr-purple);
    animation: bouncy 400ms alternate-reverse 1s infinite;


  }

  h3 {

    a {
      text-decoration: none;
      color: #fff;
      background-color: rgba(235, 81, 96, 0.4);
      padding: 0.25rem 1rem;
      border-radius: 30px;
      transition: all 200ms ease;

      &:hover,
      &:focus {
        background: rgba(45, 42, 50, 0.8);
        color: white;
      }
    }

    span {
      color: var(--clr-blue);
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 960px) {
  .main {
    .main__container {
      flex-direction: column;

      .main__img--container {

        svg {
          width: 60vw;
          max-width: 420px;
          height: auto;
          margin-top: 2rem;
        }
      }

      .main__content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;

        h1 {
          font-size: 3rem;
          margin-top: 2rem;
        }

        h2 {
          margin-top: 0;
          font-size: 2rem;
        }
      }

      .meet {
        margin-top: 3rem;
      }
    }
  }
}

.wave-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: blue;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.wave {
  position: absolute;

}

.portfolio {
  height: 100%;
  background-color: var(--clr-nav-dark);
  padding-top: 0;
  margin-top: 0;
}

.portfolio {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: sspace-between;

  h1 {
    color: white;
    font-size: 4rem;
    margin-top: 10rem;
    letter-spacing: -0.075rem;
    text-align: center;
  }

  .portfolio-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0;
    height: auto;

    img {
      width: 40vw;
      min-width: 350px;
      height: auto;
      border-radius: 25px;
      filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.5));

    }

    .portfolio-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        height: 170px;
        width: 100%;
      }

      .subtitle {
        padding: 0;
        background: white;
        color: var(--clr-nav-dark);
        font-weight: 600;
        letter-spacing: .335rem;
        line-height: 1em;
        text-align: center;
        border-radius: 3px;
        margin-top: 1rem;
        padding: .2rem;
      }

      .featured-title {
        font-weight: 800;
        color: #fff;
        font-size: 34px;
        letter-spacing: 0;
        margin: .5rem 0;
      }

      .featured-desc {
        display: none;
        font-weight: 400;
        letter-spacing: 0.045em;
        line-height: 1.645;
        color: white;
      }

      .button-container {
        width: auto;
        display: grid;
        grid-template-rows: 1/1;
        grid-template: "a b"20vw;
        gap: 2em;
        margin: 20px 0;

        button {
          outline: none;
          border-style: none;
          height: 50px;
          width: auto;
          background: var(--clr-pink-dark);
          border-radius: 25px;
          border: 3px solid #fff;

          a {
            color: white;
            font-weight: 600;
            padding: 1em 1em;
            transition: all 150ms ease;
            border-radius: 25px;
            text-decoration: none;
          }

          &:hover,
          &:focus {
            background-color: var(--clr-pink-btn);
            transition: all 200ms ease;
            transform: translate(2px, -2px);
            box-shadow: -7px 4px 8px 2px #101010;

          }


        }
      }
    }
  }
}


// footer

.footer__container {
  background-color: #101010;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
}

#footer__logo {
  color: #101010;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: poiner;
  text-decoration: none;
  font-size: 2rem;
  background-color: #fff;
}

.footer__links {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  line-height: 0.9;
}

.footer__link--wrapper {
  display: flex;

}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items {

  h2 {
    margin-bottom: 1rem;
    font-weight: 300;
    color: #fff;
    font-size: 1.4rem;
  }
}

.footer__link--items a {
  color: var(--clr-bg-main);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover,
.footer__link--items a:focus {
  color: var(--clr-pink-dark);
  transition: 300ms ease;
}

.social__icon--link {
  color: var(--clr-bg-main);
  font-size: 24px;
  padding: 1rem;
}

.social__media {
  max-width: 1000px;
  width: auto;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  float: right;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;

}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
}

.social__icon--link:hover,
.social__icon--link:focus {
  transform: scale(130%);
  color: #fff;
  transition: all 175ms ease;
}

.social__logo {
  color: var(--clr-bg-main);
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .footer__links {
    flex-direction: column;
  }

  .footer__link--items {
    align-items: center;
    text-align: center;
  }

  .footer__link--wrapper {
    justify-content: center;
  }

  .social__media--wrap {
    width: 100%;
  }
}